.gif-viewer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 3em;
    -webkit-user-select: none;
    user-select: none;
}

.gif-canvas {
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

.gif-properties {
    font-size: 12px;
    color: $light-gray;

    .property {
        display: inline-block;
        padding: 0 0.6em;
    }

    .value {
        font-style: italic;
    }
}

.playback-controls {
    max-width: 400px;
}

.playback-controls {
    padding-bottom: 1em;

    .buttons {
        display: flex;
        justify-content: center;
    }

    .buttons > * {
        display: block;
        padding: 0 0.4em;
    }
}

@media only screen and (max-width: 800px) {
    .gif-viewer {
        flex-flow: column;
    }

    .view-controls {
        margin: 0 auto;
    }

    .playback-controls {
        margin-bottom: 1.4em;
    }

    .mode-selector {
        padding-bottom: 1.4em;
    }
}