
#site-header {
    text-align: center;
    display: flex;
    height: 300px;
    padding-bottom: 4em;
    color: $brand-color;

    img {
        max-width: 100%;
        width: 600px;
    }

    .scans {
        position: relative;
        flex: 1;
        & >* {
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            border-left: 1px solid $brand-color;
        }
    }

    #site-title {
        display: block;
        flex: 0;
        padding: 0 1rem;
        margin-top: 22%;

        font-weight: 100;
        font-size: 48px;
        letter-spacing: 20px;
        margin-right: -20px;

    }

    .blurb {
    }

    .links a {
        color: #aaa;
        padding: 0 0.6em;
    }
}
