
#site-header {
    text-align: center;
    display: flex;

    height: 260px;
    padding-bottom: 4em;
    color: $brand-color;

    .scans {
        position: relative;
        flex: 1;
        & >* {
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            border-left: 1px solid $brand-color;
        }
    }

    .site-title-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #site-title {
        display: block;
        flex: 0;
        padding: 0 1rem;

        font-weight: 100;
        font-size: 48px;
        letter-spacing: 20px;
        margin-right: -20px;

    }

    .links a {
        color: $light-gray;
        padding: 0 0.6em;
    }
}

@media only screen and (max-width: 1000px){
    #site-header {
        #site-title {
            font-size: 42px;
            letter-spacing: 16px;
            margin-right: -16px;
        }
    }
}

@media only screen and (max-width: 700px),
only screen and (max-height: 1000px) {
    #site-header {
        height: 200px;
    }
}

@media only screen and (max-height: 600px) {
    #site-header {
        height: 140px;
    }
}

@media only screen and (max-width: 700px) {
    #site-header {
        #site-title {
            font-size: 32px;
            letter-spacing: 12px;
            margin-right: -16px;
        }
    }
}

@media only screen and (max-width: 500px) {
    #site-header {
        #site-title {
            font-size: 28px;
            letter-spacing: 8px;
            margin-right: -8px;
        }
    }
}