.gif-canvas {
    max-width: 100%;
    height: auto;
}

.gif-properties {
    font-size: 12px;
    color: #aaa;

    .property {
        display: inline-block;
        padding: 0 0.6em;
    }

    .value {
        font-style: italic;
    }
}